<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end textlowercase">Second</h2>
    <h3 class="text-capitalize">3 title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">second</div>
    <div class="display-6">third</div>

    <hr>

    <div class="text-muted text-end">
        text
    </div>

    <hr>

    <button class="btn btn-link">
        Button primary
    </button>

    <hr>
    <div class="card">
        <div class="card-body">
            <p class="text-primary">My text</p>
        </div>
    </div>


    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary btn-lg">Додати</button>
            <button class="btn btn-outline-secondary btn-sm">Редагувати</button>
            <button class="btn btn-outline-danger">Видалити</button>
        </div>
    </div>


    <hr>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            Test
        </div>
    </div>


</main>