<main class="m-5 row">
    <div class="col-3">
        <h1>Hello world</h1>

        {{> title data="My title" }}

        <h1 style="color: black; background: yellow;">this is text</h1>
    </div>
</main>