<main class="row m-3">
    <div>
        <h2>Список сторінок</h2>
        <p>Тут буде інформація про мій проект</p>
    </div>

    <div class="mt-5">
        {{#each pages}}
        <div class="my-2">
            <a href="{{href}}" class="btn btn-primary col-2">{{text}}</a>
        </div>
        {{/each}}
    </div>
</main>