<div>
    {{#with main}}
    <main>
        <section class="mb-5">
            {{>title data=summary.title big=true}}
            <div>
                <p>
                    {{summary.text}}
                </p>
            </div>
        </section>
        {{#with experience}}
        <section>
            {{>title data=title big=false }}
            <div>
                <p>
                    {{text}}
                </p>
            </div>
        </section>
        {{/with}}
    </main>
    {{/with}}
</div>