{{#each footer}}
{{#each this}}

<nav class="col-2">
    <div class="nav">
        <div class="nav-item">
            <div>
                <a href="{{link}}" class="nav-link">{{text}}</a>
            </div>
        </div>
    </div>
</nav>

{{/each}}
{{/each}}